*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgba(239, 216, 220, 0.63);
    /* background-color: blue; */
}

.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background: transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.logo{
    font-size: 25px;
    color: brown;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    transition: 0.5s; 
}

.navbar a:hover,
.navbar a.active{
    color: rgb(75, 75, 158);
}

#home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 900px;
}

.home-content h1{
    font-size: 40px;
    font-weight: 600;
}

.home-content h3{
    font-size: 25px;
    font-weight: 600;
    color: #95d0e7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cv{
    position: absolute;
} 

.cv a{
    background: rgba(152, 124, 152, 0.77);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #f5f5f5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    border-radius: 5px;
}
.socials{
    position: absolute;
    bottom: 40px;
    width: 170px;
    justify-content: space-between;
}

.socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
}

#skills{
    height: 100vh;
    align-items: center;
    padding: 0 10%;
}


.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    padding: 15px;
}

.skills-container .skills-card{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: transparent;
    text-align: center;
    padding: 30px 20px;
}

.skills-container .skills-card i{
    font-size: 35px;
    
}

.skills-container .skills-card h3{
    font-size: medium;
    color: #444;
    font-size: 22px;
    padding: 10px 0;
    align-items: center;
}

.skills-container .skills-card p{
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.skills-container .skills-card:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.0);
}

@media (max-width:768px){
    .skills{
        padding: 20px;
    }
}

#projects{
    height: 100vh;
    align-items: center;
    padding: 0 10%;
}

.projects-intro h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}


.projects-container{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    padding: 25px;
}

.projects-container .project-card{
    display: flex;
    margin: 10px 20px;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: transparent;
    text-align: center;
    padding: 10px 20px;
    align-self: normal;
}

.project-card h3{
    font-size: medium;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px 0; 
    padding-bottom: 4px;
}

.projects-container .project-card p{
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}


.project-links a{
    background: rgba(152, 124, 152, 0.77);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: medium;
    color: #f5f5f5;
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    border-radius: 25px;
    
}

.projects-container .project-card:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.0);
}

#contact-form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #444;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: rgba(152, 124, 152, 0.77);
    color: #f5f5f5;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px 0;
    border-radius: 30px;
    align-items: center;
    /* text-align: center; */
}